@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://i.pinimg.com/originals/7b/7c/59/7b7c59cc2974ad20e9c57243fbe6dc5f.jpg) no-repeat center;
    background-size: cover;
    font-family: "Elms Sans", sans-serif;
}

h1 {
    margin-bottom: 12px;
}

.container {
    width: 320px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(4px);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 18px 32px 18px 40px;
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(65%);
}

.input-file input {
    padding: 12px 32px 18px 40px !important;
}

.cadastro-link a {
    text-decoration: none;
    color: #f3bcbc;
}

.cadastro-link a:hover {
    text-decoration: underline;
}

p {
    font-size: 12px;
}

.login {
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    font-weight: 600;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    transition: 0.5s;
}