@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url(https://i.pinimg.com/originals/7b/7c/59/7b7c59cc2974ad20e9c57243fbe6dc5f.jpg) center/cover no-repeat;

    font-family: "Elms Sans", sans-serif;
    padding: 20px;
}

.container {
    width: 340px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 35px 40px;

    color: #fff;
    backdrop-filter: blur(12px);

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.05);

    animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 12px;
    font-size: 26px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.input-box {
    position: relative;
    width: 100%;
    height: 48px;
    margin: 24px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1.8px solid rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    outline: none;

    color: #fff;
    font-size: 15px;
    padding: 16px 40px 16px 18px;

    transition: 0.3s ease;
}

.input-box input:focus {
    border-color: #ffffffaa;
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
}

.input-box i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0.8;
}

.cadastro-link {
    margin-top: 10px;
    text-align: center;
}

.cadastro-link a {
    text-decoration: none;
    color: #ffdfdf;
    font-weight: 600;
}

.cadastro-link a:hover {
    text-decoration: underline;
    color: #ffe8e8;
}

p {
    font-size: 12px;
    margin-top: 4px;
}

.login {
    width: 100%;
    height: 40px;

    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 40px;

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.4s ease;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #fff;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.35);
}

@media (max-width: 420px) {
    .container {
        width: 100%;
        padding: 25px 30px;
    }
}